*{
    box-sizing: border-box;
    user-select: none;
}

body{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#settings{
    height: auto;
    width: 40px;
    color: black;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 4;
}

.settingsUi, .endScreen{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.433);
}

.settingsUi.show{
    opacity: 1;
    display: flex;
}

.settingsInner, .endInner{
    background-color: white;
    outline: solid;
    outline-color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}



#center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.scoreboard{
    display: flex;
    flex-direction: row;
    gap: 200px;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}

.textInstruction{
    display: none;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.textInstruction.show{
    display: block;
}

.round{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    animation-duration: 1.5s;
    animation-name: pop;
    position: relative;
    z-index: 6;
}

.hide{
    display: none;
}

.show{
    display: flex;
}

.options a{
    display: none;
    z-index: 1;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    flex-direction: row;
    gap: 40px;
    text-decoration: none;

}

.options.show a{
    display: flex;
}

#homeScreen, #closeSettings, #homeScreenEnd, #restartGame{
    background-color: transparent;
    border-radius: 4px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    font-family: 'Franklin Gothic Heavy', 'Arial Narrow', Arial, sans-serif;
}

#openSettings{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    cursor: pointer;
}

#openSettings svg{
    fill: black;
}

.rock,.paper,.scissors{
    outline: solid;
    outline-color: gray;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    font-size: 100px;
    transition: transform 0.3s;
    cursor: pointer;
}

.rock:hover, .paper:hover, .scissors:hover{
    transform: translateY(-10px);
    transition: 1s;
}

.hands{
    display: flex;
    flex-direction: row;
    gap: 350px;
    z-index: 5;
}

#computerHand{
    height: auto;
    width: 400px;
}

.animateComputer{
    animation: moveInComputer;
    animation-duration: 3s;
    transform: translateX(100);
}
    

#humanHand{
    height: auto;
    width: 400px;
}

.animateHuman{
    animation: moveInHuman;
    animation-duration: 3s;
    transform: translateX(100);
}

.watermark{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.5;
    color: black;
    text-decoration: none;
}

.watermark a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.5;
    color: black;
}


@keyframes moveInHuman{
    0%{
        transform: translateX(-200px);
    }
    10%{
        transform: translateX(0px);
    }
    20%{
        transform: translateY(-100px) rotate(-50deg) ;
    }
    30%{
        transform: translateY(0px) rotate(0deg);;
    }
    40%{
        transform: translateY(-100px) rotate(-50deg);
    }
    50%{
        transform: translateY(0px) rotate(0deg);
    }
    60%{
        transform: translateY(-100px) rotate(-50deg);
    }
    70%{
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes moveInComputer{
    0%{
        transform: translateX(200px);
    }
    10%{
        transform: translateX(0px);
    }
    20%{
        transform: translateY(-100px) rotate(50deg) ;
    }
    30%{
        transform: translateY(0px) rotate(0deg);;
    }
    40%{
        transform: translateY(-100px) rotate(50deg);
    }
    50%{
        transform: translateY(0px) rotate(0deg);
    }
    60%{
        transform: translateY(-100px) rotate(50deg);
    }
    70%{
        transform: translateY(0px) rotate(0deg);
    }

}


@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes pop{
    0%{
        opacity: 0;
        transform: rotate(180deg);
        scale: 2;
    }
    80%{
        opacity: 1;
        transform: rotate(0deg);
        scale: 1;
    }
    100%{
        opacity: 0;
    }

}